@media (max-width: 768px) { 
   .hidesm {
    display:none;
   } 

   .marginsm {
    margin-top:4.3rem;
} 

.marginsm-header{
    margin-top:-40px;
}

.marginsm-header-scroll {
    margin-top:-60px;
}


 }