    <!-- .auth -->
    <main class="auth">
      <!-- form -->
      <form (ngSubmit)="sendResetLink(resetPasswordForm)" #resetPasswordForm="ngForm" class="auth-form auth-form-reflow">
        <div class="text-center mb-4">
          <div class="mb-4">
            <img class="rounded" src="assets/images/brand-inverse.png" alt="" height="72">
          </div>
          <h1 class="h3"> Reset Your Password </h1>
        </div>
        <div class="form-group mb-4">
          <label class="d-block text-left" for="inputUser">Registered Email</label> <input name="email" ngModel type="text" class="form-control form-control-lg" required="" autofocus="">
          <p class="text-muted">
            <small>We'll send password reset link to your email.</small>
          </p>
        </div><!-- /.form-group -->
        <!-- actions -->
        <div class="d-block d-md-inline-block mb-2">
          <button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
        </div>
        <div class="d-block d-md-inline-block">
          <a routerLink="/auth/signin" class="btn btn-block btn-light">Return to signin</a>
        </div>
      </form><!-- /.auth-form -->
      <footer class="auth-footer mt-5"> © 2018 All Rights Reserved. <a >Privacy</a> and <a >Terms</a>
      </footer>
    </main><!-- /.auth -->