<!-- .app-main -->
<main class="app-main">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .page -->
    <div class="page">
      <!-- .page-inner -->
      <div class="page-inner">
        <!-- .page-title-bar -->
        <header class="page-title-bar">
          <!-- page title stuff goes here -->
          <h1 class="page-title"> Welcome To Exam Series of Swadhyay</h1>
        </header><!-- /.page-title-bar -->
        <!-- .page-section -->
        <div class="page-section">
          <!-- page content goes here -->
          
          <p>Before Begining the exam here are some points to render</p>
          <ul>
            <li></li>
            <li>Make sure you have proper net connectivity.</li>
            <li>Once you began the exam, you have only 10 mins for this exam.</li>
            <li>Make sure you not leave the page if you leave the page all your responces will be saved and you wont be able to give your exam again.</li>
          </ul>
          <button class="btn btn-danger" (click)="onBackClicked()">Back</button>
          <button class="btn btn-primary " (click)="onProceedClicked()">Proceed</button>
        </div><!-- /.page-section -->
      </div><!-- /.page-inner -->
    </div><!-- /.page -->
  </div><!-- /.wrapper -->
</main><!-- /.app-main -->