<div class="page">
  <!-- .page-navs -->
  <nav class="page-navs">
    <!-- .nav-scroller -->
    <div class="nav-scroller">
      <!-- .nav -->
      <div class="nav nav-tabs">
        <a class="nav-link active show" data-toggle="tab"> All Notifications</a> 
      </div><!-- /.nav -->
    </div><!-- /.nav-scroller -->
  </nav><!-- /.page-navs --> 
    <!-- .page-inner -->
    <div class="page-inner" >
      <!-- .page-section -->
      <div class="page-section">
            <!-- .card -->
            <div class="card" *ngIf="mode=='all'"  >
              <!-- .list-group-messages -->
              <div class="list-group list-group-messages list-group-flush list-group-bordered">
                <!-- message item -->
                <div *ngFor="let notification of notificationService.notifications;let i=index" class="list-group-item" (click)="getdetail(i)" [ngClass]="{'read':notification.status=='read','unread':notification.status=='unread'}" >         
                    <!-- message figure -->
                    <div class="list-group-item-figure">           
                      <div class="avatar ">
                        <a class="ml-1">
                          <img style="height:50px;width:40px;" *ngIf="notification.type=='project'" src="assets/images/innovation.png" alt="">
                          <img style="height:50px;width:40px;" *ngIf="notification.type=='feed'" src="assets/images/feed.png" alt="">
                          <img style="height:50px;width:40px;" *ngIf="notification.type=='chat'" src="assets/images/chat.png" alt="">
                          <img style="height:50px;width:40px;" *ngIf="notification.type=='request'" src="assets/images/innovation.png" alt="">
                        </a> 
                      </div><!-- /.avatar -->
                    </div><!-- /message figure -->
                    <!-- message body -->
                    <div class="list-group-item-body pl-md-2">
                      <!-- grid row -->
                      <div class="row ">                 
                        <!-- grid column -->
                        <div class="col-12  ml-2">
                          <h4 class="list-group-item-title ">
                            <a > {{notification.title}} </a>                     
                          </h4>
                          <p class="list-group-item-text text-truncate "> {{notification.description}} </p>
                        </div><!-- /grid column -->
                        <!-- grid column -->
                        <div class="col-12 ml-2 ">
                          <p class="list-group-item-text">
                            {{notification.timestamp.toDate() | date:'medium' }} 
                          </p>
                        </div><!-- /grid column -->
                      </div><!-- /grid row -->
                    </div><!-- /message body -->
                    <!-- message actions -->
                    <div class="list-group-item-figure">                  
                    </div><!-- /message actions -->
                
                </div>
              </div>
              <!-- /.list-group-messages -->
            </div><!-- /.card -->
       <div class="page-section" *ngIf="mode=='notificationdetail'" >
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                  <a (click)="mode='all'" ><i class="breadcrumb-icon fa fa-angle-left ml-2"></i> Back </a>
                </li>
              </ol>
            </nav>
            <div class="card h" >
                <!-- .card-body -->
                <div class="card-body">
                 <!-- team avatar -->          
                     
                    <a  class="user-avatar user-avatar-lg mr-3">
                          <img  *ngIf="item.type=='project'" src="assets/images/innovation.png" alt="">
                          <img *ngIf="item.type=='feed'" src="assets/images/feed.png" alt="">
                          <img *ngIf="item.type=='chat'" src="assets/images/chat.png" alt="">
                          <img *ngIf="item.type=='request'" src="assets/images/innovation.png" alt="">
                    </a>                   
                      <h5 >
                        <a >{{item.title}}</a>                       
                      </h5>                                                          
                  <p>{{item.description}} </p>
                  <p> {{item.timestamp.toDate() | date:'medium'}} </p><!-- /team avatar -->
                  <hr>
                  <div >
                      <button  class="btn btn-sm btn-success float-right green" routerLink="{{item.action}}"> Go </button>
                  </div> 
                </div><!-- /.card-body -->                        
              </div>
        </div>      

      </div><!-- /.page-inner -->
  </div>
</div>