.reviewlater {
    background-color:orange !important 
}

.both{
    background-color:purple !important
}

.green{
    background-color:green !important
}

.green2{
    color:green !important
}

.red{
    color:red !important
}