@media (max-width: 768px) { 
    .marginsm {
        margin-top:3.5rem;
    } 
    .marginsm-header{
        margin-top:-23px;
    }

    .marginsm-header-scroll {
        margin-top:-46px;
    }


    .hidesm {
        display:none;
       } 
  }